/*Box-sizing for all elements*/
* {
	box-sizing: border-box;
}

/*Styles for the body*/
body {
	background-color: #FCEBB6;
	color: #221811;
	font-family: Tahoma, Arial, sans-serif;
	margin: 0;
}
/*styles for the wrapper*/
#wrapper { 
	background-color: #231814;
	padding: 0;
}
/*styles for the header*/
header {
	background-color: #D2B48C;
	color: #231814;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(../img/cup.jpg);
	background-repeat: no-repeat;
	padding-left: 105px;
} 
header a {text-decoration: none;}
header a:link {color: #231814;}
header a:visited {color: #231814;}
header a:hover {color: #FEF6C2;}

/* Styles for the headers*/


/*styles for headings*/
h1 { font-size: 2em; }
h2 { color: #8C3826; } 
h3, dt {color: #8C3826; }
h4 {
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #221811;
	clear: left;
}
/*styles for the nav*/
nav {
	text-align: center;
	font-size: 1.5em
}
nav a { text-decoration: none; }

/*Psuedo class for nav links*/
nav a:link {
	color: #FeF6C2;
}

nav a:visited {
	color: #D2B48C;
}

nav a:hover {
	color: #CC9933;
}

nav ul {
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	border-bottom: 1px solid #FEF6C2;
	padding: .5em 1em;
	width: 100%;
}
/* Styles for the main*/

main {
	background-color: #FEF6C2;
	display: block;
	padding: 0 0 2em 0;
}
h2, h3, h4, p, div, ul, dl {
	padding-left: 1em;
	padding-right: 1em;
}
main ul {
	padding-left: 2em;
}
/*Styles for details*/
.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}
/*Styles for images*/
img {
	padding-left: 10px;
	padding-right: 10px;
}
/*Styles for home hero*/
#homehero {
	height: 300px;
	background-image: url(../img/road.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#heromugs {
	background-image: url(../img/threemugs.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#heroguitar {
	background-image: url(../img/guitar.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*Styles for mobile*/
#mobile {
	display: inline;
}
/* Styles for Desktop*/
#desktop {
	display: none;
}
/*styles for the footer*/
footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	border-top: 2px solid #8C3826;
}
/*Media Query for Dekstop*/
@media (min-width: 600px) {
	header {
		padding-left: 0;
		text-align: center;
	}
	h1 {
		font-size: 3em;
	}
	nav ul {
		flex-flow: row nowrap; 
		justify-content: space-around;
	}
	nav li {
		border-bottom: none;
	}
	#homehero {
		background-image: url(../img/hero.jpg); 
		height: 50vh; 
	}
	#heromugs {
		background-image: url(../img/heromugs.jpg); 
	}
	#heroguitar {
		background-image: url(../img/heroguitar.jpg); 
	}
	#flow {
		display: flex;
		flex-direction: row;
	}
	#mobile {
		display: none;
	}
	#desktop {
		display: inline;
	}
	.details {
		display: flex;
		flex-direction: row;
	}
	h4 {
		margin-left: 10%;
		margin-right: 10%;
	}
}
		
/* Media Query for large Screens*/
@media (min-width: 1024px) {
	@supports (display: grid) {
		header {
			grid-area: header;
		}
		nav {
			grid-area: nav;
		}
		main {
			grid-area: main;
		}
		footer {
			grid-area: footer;
		}
		#wrapper {
			display: grid;
			grid-template:
			"header header"
			"nav    main" 
			"footer footer"
			/ 200px;
		}
		nav ul {
			flex-direction: column;
		}
		header {
			background-image: url(../img/coffeelogo.jpg); 
		}
	}
}

